**/objects/*
Projet/libs/libs
Projet/**/*.gc*
Projet/dico
Projet/auto_tests/testDico
Projet/documentation/html/*
Projet/documentation/latex/*
Projet/auto_tests/objects
Projet/auto_tests/out
Projet/auto_tests/res
Projet/auto_tests/afl_out
